<div th:fragment="header">
<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="https://vk.com/shadowss_song" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Даниил Кузин</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/all-pictures" class="nav-link">Картинка</a></li>
    <li class="nav-item"><a href="/music" class="nav-link">Музыка</a></li>
    <li class="nav-item"><a href="/blog" class="nav-link">Блог</a></li>
    <li class="nav-item"><a href="/blog/add" class="nav-link">Добавить статью</a></li>
  </ul>
</div>
</div>