# Default ignored files
/shelf/
/workspace.xml
/src/main/resources/BookJSONFormat
/src/main/resources/DocJSONFormat
/src/main/resources/MagazineJSONFormat
/src/main/resources/PatentDocJSONFormat
*.log
